<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <!--<settings>
        &lt;!&ndash; 打开延时加载的开关 &ndash;&gt;
        <setting name="lazyLoadingEnabled" value="true"/>

        &lt;!&ndash; 将积极加载改为消极加载即按需加载 &ndash;&gt;
        <setting name="aggressiveLazyLoading" value="false"/>
    </settings>-->
    
    <!--加载属性文件-->
    <properties resource="db.properties"></properties>

    <!--全局配置参数-->
    <!--<settings>
        <setting name="" value=""/>
    </settings>-->

    <!--别名的定义-->
    <typeAliases>
        <!--
            针对单个别名的定义
            type:类型的路径
            alias:别名
        -->
        <!--<typeAlias type="zool.pojo.User" alias="user"/>-->

        <!--
            批量别名的定义
            指定包名,mybatis自动的扫描包中的po类，自动的来定义别名，别名就是类名(首字母大写或小写都可以)
        -->
        <package name="zool.pojo"/>

    </typeAliases>

    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"></transactionManager>
            <dataSource type="POOLED">
                <property name="driver" value="${jdbc.driver}"/>
                <property name="url" value="${jdbc.url}"/>
                <property name="username" value="${jdbc.username}"/>
                <property name="password" value="${jdbc.password}"/>
            </dataSource>
        </environment>
    </environments>

    <!-- 加载映射文件 -->
    <mappers>
        <mapper resource="sqlmap/UserMapper.xml"/>
        <!-- 通过resource方法一次加载一个映射文件 -->
        <mapper resource="mapper/UserMapper.xml"/>

        <!--
            通过mapper接口来加载映射文件
            遵循一些规范:需要将mapper接口的类名和mapper.xml映射文件名称保持一致，且在一个目录
            上边的规范前提是：使用的是mapper代理的方法
        -->
        <!--<mapper class="zool.mybatis.mapper.UserMapper"/>-->

        <!-- 批量加载mapper 指定mapper接口的包名，mybatis自动的扫描包下边的接口进行加载-->
        <!--<package name="zool.mybatis.mapper.UserMapper"/>-->
        
    </mappers>

</configuration>